@import url(reset.css);
@import url(utilities.css);
@import url(header.css);
@import url(banner_bg.css);
@import url(footer.css);

.banner {
  background-image: url(../img/consult_banner_bg.jpg);
  background-position: left bottom;
}
.banner h2 {
  color: white;
}
.content {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin: 64px auto;
}
.content h3 {
  font-size: 48px;
  margin-bottom: 20px;
  font-style: italic;
}
.content p {
  font-style: italic;
}

@media screen and (max-width: 820px) {
  .content {
    margin: 32px auto;
  }
  .content h3 {
    font-size: 32px;
  }
  .content p {
    margin: 0 auto;
  }
}
