@import url(reset.css);
@import url(utilities.css);
@import url(header.css);
@import url(banner_bg.css);
@import url(footer.css);

.banner {
  background-image: url(../img/shop_banner_bg.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}
.mask {
}
.mask h2 {
  color: white;
}

/* ----------------------篩選區 -------------------*/
.select_area {
  display: flex;
  margin-top: 64px;
}
.select_area li {
  flex-grow: 1;
  background-color: #dcdcdc;
  margin-right: 10px;
  border-radius: 2px;
  box-sizing: border-box;
}
.select_area li:last-child {
  margin-right: 0;
}
.select_area a {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.select_area a:hover {
  background-color: #5b5353;
  color: #dcdcdc;
}
/* ----------------------產品列表 -------------------*/
.product_area {
  margin-top: 64px;
  margin-bottom: 64px;
}
.product_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
}
.product_item {
  width: 30%;
  border: 1px solid #dcdcdc;
  /* box-shadow: 1px 1px 1px #dcdcdc; */
  margin: 1.5%;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.product_item:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-in-out;
}
.product_item img {
  width: 100%;
}

.product_item img:hover {
  transform: scale(1.03);
  transition: all 0.7s;
}

.addToCart {
  display: block;
  cursor: pointer;
}

.fa-cart-plus:before {
  position: absolute;
  top: 30px;
  right: 30px;
}

.product_detail {
  padding: 15px;
}
.product_item .product_name {
  font-size: 21px;
  padding: 20px 20px 0;
}

.product_item .product_price {
  font-size: 16px;
  padding: 0 20px 20px;
}

.product_price::before {
  content: "$";
}

@media screen and (max-width: 820px) {
  .product_item {
    width: 45%;
  }
  .product_name {
    font-size: 18px;
  }
  .select_area {
    margin-top: 32px;
  }
  .select_area a {
    font-size: 21px;
  }
  .product_area {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 428px) {
  .product_item {
    width: 90%;
  }
  .select_area a {
    font-size: 18px;
  }
}
