/* --------------網頁整體設定-------------- */
html {
  color: #5b5353;
}
a {
  color: #5b5353;
  text-decoration: none;
}

body {
  font-family: Roboto Condensed;
  line-height: 1.6;
}

/* ----------------utilities ----------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.ml-2 {
  margin-left: 20px;
}

.sub_title {
  font-size: 64px;
  text-align: center;
  font-weight: 700;
}

.btn {
  min-width: 150px;
  min-height: 48px;
  background-color: #5b5353;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 2px;
}
